<a href="https://colab.research.google.com/github/wogur9503/AndroidGoogleMap/blob/master/TTestChiSquaredTestPrac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 펭귄 데이터 이용한 데이터 검증 연습

데이터셋 준비

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

# 데이터셋 불러오기
df = sns.load_dataset("penguins")
df = df.dropna()

df = df.rename(columns={"species":"species", "island":"island", "bill_length_mm":"bill_length", "bill_depth_mm":"bill_depth",
                        "flipper_length_mm":"flipper_length", "body_mass_g":"body_mass", "sex":"sex"})
#species : 펭귄의 종 (Adelie, Chinstrap, Gentoo)
#island : 살고 있는 섬 이름 (Torgersen, Dream, Biscoe)
#bill_length : 부리의 길이 (단위: mm)
#bill_depth : 부리의 깊이 (단위: mm)
#flipper_length : 플리퍼(≒ 날개)의 길이 (단위: mm)
#body_mass : 체질량 (단위: g)
#sex : 성별 (MALE, FEMALE)
df

    species     island  bill_length  ...  flipper_length  body_mass     sex
0    Adelie  Torgersen         39.1  ...           181.0     3750.0    Male
1    Adelie  Torgersen         39.5  ...           186.0     3800.0  Female
2    Adelie  Torgersen         40.3  ...           195.0     3250.0  Female
4    Adelie  Torgersen         36.7  ...           193.0     3450.0  Female
5    Adelie  Torgersen         39.3  ...           190.0     3650.0    Male
..      ...        ...          ...  ...             ...        ...     ...
338  Gentoo     Biscoe         47.2  ...           214.0     4925.0  Female
340  Gentoo     Biscoe         46.8  ...           215.0     4850.0  Female
341  Gentoo     Biscoe         50.4  ...           222.0     5750.0    Male
342  Gentoo     Biscoe         45.2  ...           212.0     5200.0  Female
343  Gentoo     Biscoe         49.9  ...           213.0     5400.0    Male

[333 rows x 7 columns]

## T-test

### one sample T-test : 표본집단의 평균이 특정 값인지 추정할 때 사용한다.

*   귀무가설 : Adelie 펭귄의 평균 몸무게는 8kg일 것이다.
*   대립가설 : Adelie 펭귄의 평균 몸무게는 8kg이 아닐 것이다.
*   신뢰도 : 95%

In [3]:
adelie = df[df['species'] == 'Adelie']['body_mass']
stats.ttest_1samp(adelie, 8000)

Ttest_1sampResult(statistic=-113.12763925848728, pvalue=2.511309970725206e-143)

pvalue가 0.05보다 작기 대문에 대립가설을 채택한다.
즉, 아델리 펭귄의 몸무게는 8kg이 아니다.

### 다음 가설

*   귀무가설: Adelie 펭귄의 평균 몸무게는 3.72kg일 것이다.
*   대립가설 : Adelie 펭귄의 평균 몸무게는 3.72이 아닐 것이다.
*   신뢰도 : 95%

In [4]:
stats.ttest_1samp(adelie, 3720)

Ttest_1sampResult(statistic=-0.36452038810359905, pvalue=0.7160005111390735)

pvalue가 0.05보다 크기 때문에 귀무가설을 기각할 수 없다.
즉, 아델리 펭귄의 평균 몸무게는 3.72kg이다.

### two sample T-test : 표본집단 A와 표본집단 B의 평균을 비교할 때 사용한다.
표본집단의 평균을 비교한다는 점에서 one sample test와 같지만, one sample T-test는 해당 표본집단의 평균과 특정 값을 비교할 때 쓴다는 점에서 다르다. 

*   귀무가설 : Adelie 펭귄의 평균 부리 깊이와 Gentoo 펭귄의 평균 부리 깊이는 같다.
*   대립가설 : Adelie 펭귄의 평균 부리 깊이와 Gentoo 펭귄의 평균 부리 깊이는 같지 않다.
*   신뢰도 : 95%

In [5]:
adelie = df[df['species'] == 'Adelie']['bill_depth']
gentoo = df[df['species'] == 'Gentoo']['bill_depth']
stats.ttest_ind(adelie, gentoo)

Ttest_indResult(statistic=24.208855744860315, pvalue=6.91055572279657e-69)

pvalue가 0.05보다 작기 때문에 대립가설을 채택한다.
즉, 아델리, 젠투의 평균 부리 깊이는 다르다.

다음가설
*   귀무가설 : Adelie 펭귄의 평균 부리 깊이와 Chinstrap 펭귄의 평균 부리 깊이는 같다.
*   대립가설 : Adelie 펭귄의 평균 부리 깊이와 Chinstrap 펭귄의 평균 부리 깊이는 같지 않다.
*   신뢰도 : 95%

In [7]:
adelie = df[df['species'] == 'Adelie']['bill_depth']
chinstrap = df[df['species'] == 'Chinstrap']['bill_depth']
stats.ttest_ind(adelie, chinstrap)

Ttest_indResult(statistic=-0.41849509118137584, pvalue=0.6760088132938111)

pvalue가 0.05보다 크기 때문에 귀무가설을 채택한다.
즉, 두 펭귄의 평균 부리길이는 같다.

## Chi-squared test (카이제곱 검정)

T-test는 표본집단의 평균을 비교할 때 선택하는 방법이라면,
Chi-squared test는 **표본집단의 분포를 비교할 때 선택**하는 방법이다.

### one sample Chi-squared test
one sample Chi-squared test는 "이 주사위는 공평한 주사위이다."에 대한 검정처럼, 데이터의 분포가 예상과 같은지 확인할 때 사용한다.

*   귀무가설 : 펭귄의 성비는 1:1일 것이다.
*   대립가설 : 펭귄의 성비는 1:1이 아닐 것이다.
*   신뢰도 : 95%

In [11]:
male = df['sex'].value_counts()['Male']
female = df['sex'].value_counts()['Female']
exp = len(df)/2 # 전체 길이의 2분의 1, 성비가 완벽한 1:1일 때의 가정
stats.chisquare(f_obs=[male, female], f_exp=[exp, exp])

Power_divergenceResult(statistic=0.02702702702702703, pvalue=0.8694170607412391)

높은 pvalue가 나왔으므로, 귀무가설을 채택한다.

### two sample Chi-squared test
two sample Chi-squared test는 두 표본집단의 분포가 동일한지 확인할 때 사용한다. *즉, 두 표본집단이 연관이 있는지, 없는지를 확인할 수 있다.*

펭귄의 몸무게와 플리퍼 길이는 관련이 있지 않을까? two sample Chi-squared test를 사용하면 "펭귄의 몸무게와 플리퍼 길이는 독립이다."라는 가설을 검정할 수 있다. 단, 여기서 주의해야 할 점은 Chi-squared test는 categorical data에만 사용할 수 있다는 점이다. 우리가 가지고 있는 데이터셋에서는 펭귄의 몸무게와 플리퍼 길이가 continuous data이다. 따라서 펭귄의 몸무게와 플리퍼 길이에 대한 Chi-squared test를 시행하려면 먼저 데이터를 categorical data로 바꿔줘야 한다.

*   귀무가설 : 펭귄의 몸무게와 플리퍼 길이는 연관이 없다.
*   대립가설 : 펭귄의 몸무게와 플리퍼 길이는 연관이 있다.
*   신뢰도 : 95%

In [13]:
mass_cut = pd.cut(df['body_mass'], 3).astype('category') # 몸무게 데이터를 동일 길이로 3등분한다.
flipper_cut = pd.cut(df['flipper_length'], 3).astype('category') # 플리퍼 데이터를 동일 길이로 3등분한다.
data = pd.crosstab(mass_cut, flipper_cut)
data.columns = ['Short', 'Middle', 'Long']
data.index = ['Light', 'Middle', 'Heavy']
data

        Short  Middle  Long
Light      95      55     0
Middle     13      74    41
Heavy       0       2    53

In [16]:
chi, pvalue, _, _ = stats.chi2_contingency(data, correction=False)
chi, pvalue

(244.23390701043138, 1.1365768507791132e-51)

pvalue가 0.05보다 작으므로 대립가설을 채택한다.
즉, 몸무게와 플리퍼의 길이는 연관이 있다.

이처럼 two sample Chi-squared test의 귀무가설은 "두 변수는 연관이 없다(두 변수는 독립이다)."이다. 이에 대한 대립가설은 "두 변수는 연관이 있다(두 변수는 독립이 아니다)."이다. 그리고 신뢰도가 95%라는 전제하에 p-value가 0.05보다 작으면 귀무가설을 기각하고 대립가설을 채택하며, 0.05보다 크면 귀무가설을 기각할 수 없다.